<%= content_for(:store_header) do %>
  <%= render 'layouts/my_store/header',
             title: @store.name,
             subtitle: '23 Products are live' %>
<% end %>
<%= render 'stats' %>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <%= render 'notifications' %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <%= render 'search_products' %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <%= render 'search_customers' %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
