<style>
  .image-scroll-outer {
    width: 800px;
    height: 200px;
    border: 1px solid #1d1e1f;
  }

  .image-scroll-inner {
    width: 100%;
    height: 100%;
    overflow-x: auto;

    border: 1px solid #912D2B;
  }

  .cover-container {
    height: 180px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .cover-item {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 216px;
    height: 58px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="cover-container">
  <div class="cover-item">
    <%= image_tag "kitboxer_bog_logo_helvetica.png" %>
  </div>
  <div class="cover-item">
    <%= image_tag "kitboxer_bog_logo_helvetica.png" %>
  </div>
  <div class="cover-item">
    <%= image_tag "kitboxer_bog_logo_helvetica.png" %>
  </div>
  <div class="cover-item">
    <%= image_tag "kitboxer_bog_logo_helvetica.png" %>
  </div>
  <div class="cover-item">
    <%= image_tag "kitboxer_bog_logo_helvetica.png" %>
  </div>
</div>
