<h1>New Conversation</h1>

<%= form_tag conversations_path, method: :post do %>
  <%= hidden_field :receipient_id, @user %>

  <p><%= text_field_tag :subject, nil, placeholder: "Subject" %></p>
  <p><%= text_area_tag :body, nil, placeholder: "Your message goes here" %></p>

  <%= submit_tag %>
<% end %>