<div class="conversation__header">
  <h4><%= @conversation.subject %></h4>
  <h5><strong>TO: <%= link_to @notified_object.product.store.name, @notified_object.product.store %></strong></h5>
  <% if @notified_object %>
    <h5>
      <strong>RE:  <%= link_to @notified_object.product.title, @notified_object.product %></strong>
    </h5>
  <% end %>
</div>

<div class="conversation__body">
  <% @conversation.messages.each do |receipt| %>
    <div class="conversation__message
                <%= receipt.sender == current_user ? 'conversation__message--right' : '' %>">
      <strong><%= receipt.sender.full_name %></strong>
      <%= simple_format receipt.body %>

      <% if receipt.attachment? %>
        <strong>Attachment:</strong>
        <%= link_to receipt.attachment.file.filename, receipt.attachment.url, target: :blank %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="conversation__footer">
  <%= form_for @message, url: conversation_messages_path(@conversation) do |f| %>
    <div class="conversation__inputGroup">
      <%= f.text_area :body, placeholder: 'Type your message here...', class: 'conversation__textArea form-control' %>
      <div class="input-group-addon">
        <%= f.file_field :attachment, class: 'conversation__fileInput' %>
      </div>
    </div>
    <div class="conversation__fileInputDetails">
      <i class="fa fa-file"></i> <span class="conversation__fileInputFileName"></span>
      <i class="conversation__fileInputCancel fa fa-close"></i>
    </div>
    <%= f.submit "Send", class: 'btn btn-success form-control' %>
  <% end %>
</div>

