<div class="media">
  <%= image_tag product.cover_thumb.url, style: 'height:100px', class: 'mr-3' %>
  <div class="media-body ">
    <h4 class="mt-0"><%= link_to product.title, product_path(product) %> <span></span></h4>
    <h4 class="display-8 mt-1">@robot_super_store
      <% if rand(3) == 1 %>
        <span class="badge badge-success">Shipped March 9th</span>
      <% end %>
    </h4>
    <button class="btn btn-outline-default btn-sm" data-toggle="dropdown">Actions
      <span class="ml-1 dropdown-toggle"></span>
    </button>
    <div class="dropdown-menu ">
      <a class="dropdown-item"
         data-toggle="modal"
         data-target=".js-contact-seller-modal"
         href="#">Contact Seller
      </a>
      <% if purchase.reviewed? %>
        <a class="dropdown-item"
           data-toggle="modal"
           data-target=".js-view-review-modal"
           href="#">View Review
        </a>
      <% else %>
        <%= link_to "Leave Review", new_purchase_review_path(purchase), class: 'dropdown-item' %>
      <% end %>
      <a class="dropdown-item" href="#">Request Refund</a>
    </div>
    <span class="ml-2 display-8 float-right"><%= quantity %> x <%= number_to_currency(product.price) %></span>
  </div>
</div>
<br>



<div class="modal js-contact-seller-modal">
  <div class="modal-center">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% if purchase.reviewed? %>

  <div class="modal js-view-review-modal">
    <div class="modal-center">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Review for: <%= truncate(purchase.product.title) %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
            <%= purchase.review.summary %>
            <% purchase.review.ratings.each do |rating| %>
              <%= rating.context %>
              <%= rating.score %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
