<div class="col-md-8 mx-auto">
  <div class="card">
    <div class="card-body">
      <table class="table table--is-vcentered">
        <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= image_tag product.cover_thumb.url, style: 'height:100px' %></td>
            <td><%= link_to product.title, product %></td>
            <td><%= number_to_currency product.price %></td>
            <td>
              <button class="btn btn-outline-default btn-sm" data-toggle="dropdown">Actions
                <span class="ml-1 dropdown-toggle"></span>
              </button>
              <div class="dropdown-menu ">
                <a class="dropdown-item"
                   data-toggle="modal"
                   data-target=".js-contact-seller-modal"
                   href="#">Contact Seller
                </a>
                <%= link_to "Edit Product", product_build_path(id: Wicked::FIRST_STEP, product_id: product.id), class: 'dropdown-item' %>
                <% if product.tutorial %>
                  <%= link_to "Edit Tutorial", edit_product_tutorial_path(product_id: product.id), class: 'dropdown-item' %>
                <% else %>
                  <%= link_to "Create Tutorial", new_product_tutorial_path(product_id: product.id), class: 'dropdown-item' %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

