<div class="col-md-8 mx-auto clearfix">
  <div class="text-center"><%= page_entries_info @products %></div>
  <div class="card">
    <div class="card-body">
      <table class="table table--is-vcentered">
        <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= image_tag product.cover_thumb.url, style: 'height:100px' %></td>
            <td>
              <% if product.published %>
                <span class="badge badge-success">Live</span>
              <% else %>
                <span class="badge badge-danger">Draft</span>
              <% end %>
              <%= link_to truncate(product.title, length: 100, seperator: ' '), product %>
              <% if product.published %>
                <hr >
                <i class="fa fa-pencil"></i> 1000 Views |
                <i class="fa fa-globe"></i> 819 Sales |
                <i class="fa fa-eye"></i> 81 Watching
              <% end %>
            </td>
            <td><%= number_to_currency product.price %></td>
            <td>
              <button class="btn btn-outline-default btn-sm" data-toggle="dropdown">Actions
                <span class="ml-1 dropdown-toggle"></span>
              </button>
              <div class="dropdown-menu ">
                <%= link_to "Edit Listing", product_build_path(id: Wicked::FIRST_STEP, product_id: product.id), class: 'dropdown-item' %>
                <%= link_to "Archive Listing", product_build_path(id: Wicked::FIRST_STEP, product_id: product.id), class: 'dropdown-item' %>
                <% if product.tutorial %>
                  <%= link_to "Edit Tutorial", edit_product_tutorial_path(product_id: product.id), class: 'dropdown-item' %>
                <% else %>
                  <%= link_to "Create Tutorial", new_product_tutorial_path(product_id: product.id), class: 'dropdown-item' %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="text-center"><%= page_entries_info @products %></div>
  <div class="pagination center">
    <%= paginate @products %></div>
  <br>
</div>

