<section class="cart-show">
  <div class="row">
    <div class="col-md-9 mx-auto">
      <div class="card">
        <div class="card-body">
          <ul class="list-unstyled">
            <% @cart_data.each do |cart_product, cart_quantity| %>
              <%= render 'cart_product', product: cart_product, quantity: cart_quantity %>
            <% end %>
          </ul>
          <hr>
          <div class="row">
            <div class="col-sm-12 text-right display-8">
              <p>Tax: $10.23</p>
              <p>Shipping: $12.32</p>
              <strong>Total: $34.23</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <br>
  <div class="row">
    <div class="col-md-9 mx-auto">
      <div class="card">
        <div class="card-body">
          <%= form_tag(orders_path, authenticity_token: form_authenticity_token, id: "payment-form", method: :post) do %>
            <div class="form-row">
              <div class="col-md-6">
                <%= text_field_tag :first_name, nil, value: current_user.first_name, class: 'form-control my-2', placeholder: 'First name' %>
              </div>
              <div class="col-md-6">
                <%= text_field_tag :last_name, nil, value: current_user.last_name, class: 'form-control my-2', placeholder: 'Last name' %>
              </div>
            </div>
            <div class="form-row">
              <%= text_field_tag :street_address, nil, class: 'form-control my-2', placeholder: 'Street address' %>
            </div>
            <div class="form-row">
              <div id="card-element" class="form-control my-2">
                <!-- a Stripe Element will be inserted here. -->
              </div>
              <!-- Used to display Stripe form errors -->
              <div id="card-errors"></div>
            </div>
            <div class="form-row">
              <%= submit_tag "Submit Payment", class: 'btn btn-outline-default mt-4' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
