<section class="cart-show container">
  <h1>Checkout</h1>

  <div>
    <% @cart_data.each do |cart_product, cart_quantity| %>
        <div class="product-row">
          <div class="" style="height:300px;"><%= image_tag cart_product.images.first.image, class: 'fill-box', data: { 'scale': 'best-fit', 'align': 'center' } %></div>
          <td><%= link_to cart_product.title, product_path(cart_product) %>
            <br>
            <br>
            <p class="display-7"><%= number_to_currency(cart_product.price) %> x <%= cart_quantity %></p>
          </td>
          <%= form_tag add_to_cart_path(cart_product), method: :put do %>
              <td>
                <span id="product-count-decrease" href="#"><i class="fa fa-minus cart-icon"></i></span>
                &nbsp;
                <%= text_field_tag :product_quantity, nil, class: 'input form-control mb-2', style: 'width: 45px; display:inline-block', id: 'product-count', value: cart_quantity %>
                <span id="product-count-increase" href="#"><i class="fa fa-plus cart-icon"></i></span>
                &nbsp;
                <div class="" style="display: inline-block;">
                  <%= submit_tag 'Update', class: "btn btn-sm btn-primary" %>
                  <%= link_to remove_from_cart_path(cart_product), method: :put, class: "btn btn-sm btn-info" do %>
                      <i class="fa fa-trash"></i> Remove
                  <% end %>
                </div>
              </td>
          <% end %>
        </div>
    <% end %>
  </div>

  <table class="table table-striped">
    <tbody>

    </tbody>
  </table>
</section>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('.fill-box').fillBox();
  });

</script>
