<% content_for :store_header do %>
  <%= render 'layouts/my_store/header',
             title: @title,
             subtitle: @subtitle %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= form_tag new_my_store_conversation_path do |f| %>
      <div class="card js-my-store-messages">
        <div class="card-header">
          <%= link_to fa_icon('envelope', text: 'Inbox'), my_store_conversations_path, class: 'btn btn-info' %>
        </div>
        <div class="card-body js-messages-body">
          <div class="input-group mb-3">
            <%= tags_field_tag :recipient, nil, placeholder: 'To', class: 'form-control typeahead', data: { provide: 'typeahead', role: 'tagsinput' }, autocomplete: 'off' %>
            <div class="input-group-append" data-toggle="modal" data-target=".js-recipients-modal">
              <button class="btn btn-info" type="button" data-toggle="tooltip" data-placement="top" title="Search recipients">
                <i class="fa fa-user"></i></button>
            </div>
          </div>

          <br>
          <%= text_field_tag :subject, nil, placeholder: 'Subject', class: 'form-control' %>
          <br>
          <%= text_area_tag :body, nil, placeholder: 'Body', class: 'form-control' %>
        </div>
        <div class="card-footer">
          <%= submit_tag "Send", class: 'btn btn-primary float-right' %>
          <button class="btn btn-dark float-right mr-2"><i class="fa fa-image"></i></button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="modal js-recipients-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>[].forEach.call(document.querySelectorAll('input[type="tags"]'), tagsInput)</script>
