<div class="modal fade" id="carouselModal<%= image.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= image_tag image.image.url %>
      </div>
    </div>
  </div>
</div>



<a href="<%= image_path 'placeholder_img.jpg' %>" data-fancybox="carousel" data-caption="My caption">
  <%= image_tag image.image_url %>
</a>
<a href="<%= image_path 'placeholder_img.jpg' %>" data-fancybox="carousel" data-caption="My caption">
  <%= image_tag 'placeholder_img.jpg' %>
</a>
<a href="<%= image_path 'placeholder_img.jpg' %>" data-fancybox="carousel" data-caption="My caption">
  <%= image_tag 'placeholder_img.jpg' %>
</a>
