<div class="row">
  <div class="col-md-2">
    <div class="card">
      <div class="card-body">
        <div class="mb-3">
          <h6>Product <strong> 4.2</strong></h6>
          <%= render 'show_rating', score: 4 %>
        </div>
        <div class="mb-3">
          <h6>Communication</h6>
          <%= render 'show_rating', score: 5 %>
        </div>
        <div class="mb-3">
          <h6>Shipping</h6>
          <%= render 'show_rating', score: 2 %>
        </div>
        <div class="">
          <h6>Guides</h6>
          <%= render 'show_rating', score: 4 %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="row">
      <% @reviews.each do |review| %>
        <%= render 'review', review: review %>
      <% end %>
    </div>
  </div>
</div>
