<span class="rating">
  <i class="rating__icon fa fa-star <%= 'rating__icon--checked' if score > 0 %>"></i>
  <i class="rating__icon fa fa-star <%= 'rating__icon--checked' if score > 1 %>"></i>
  <i class="rating__icon fa fa-star <%= 'rating__icon--checked' if score > 2 %>"></i>
  <i class="rating__icon fa fa-star <%= 'rating__icon--checked' if score > 3 %>"></i>
  <i class="rating__icon fa fa-star <%= 'rating__icon--checked' if score > 4 %>"></i>
</span>