<div class="product-index mt-5">
  <div class="jumbotron jumbotron-fluid product-index-hero">
    <div class="container-fluid">
      <div class="display-4 hero-dropdown dropdown">
        Search <span class="hero-dropdown-toggle dropdown-toggle" data-toggle="dropdown">Arduino</span> Kits:
        <div class="hero-dropdown-menu dropdown-menu">
          <div class="dropdown-item" >All</div>
          <div class="dropdown-item" >Raspberry Pi</div>
          <div class="dropdown-item" >Beagle Bone</div>
          <div class="dropdown-item" >Guitar Pedals</div>
          <div class="dropdown-item" >Musical Instruments</div>
          <div class="dropdown-item" >Hacking</div>
          <div class="dropdown-item" >Programming</div>
        </div>
      </div>
      <br>
      <%= form_tag(products_path, :method => "get", id: "search-form") do %>
        <div class="input-group input-group-lg mb-4">
          <%= text_field_tag :search, params[:search], placeholder: "Search...", class: 'form-control' %>
          <%= submit_tag "Go", class: 'input-group-addon' %>
        </div>
      <% end %>
    </div>
  </div>
  <section class="">
    <br>
    <div class="card-deck">
      <%= render @products %>
    </div>
    <%= link_to 'New Product', products_path, method: :post %>
  </section>

</div>
