<% if user_signed_in? %>
    <li class='nav-item'>
      <%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete', class: 'nav-link btn' %>
    </li>
<% else %>
      <li class='nav-item hidden-md-down ml-4'>
        <%= link_to 'Sign In', new_user_session_path, class: ' btn btn-secondary  ' %>
      </li>
      <li class='nav-item hidden-md-down ml-2'>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary ' %>
      </li>
    <ul class="navbar-nav hidden-lg-up btn-group mt-3" style="display: inline-block;">
      <li class='nav-item ' style="display: inline-block; width: 50%;">
        <%= link_to 'Sign In', new_user_session_path, class: ' btn btn-secondary  btn-block' %>
      </li>
      <li class='nav-item ' style="display: inline-block; width: 49%;">
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-block ' %>
      </li>
    </ul>
<% end %>
