<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Kitboxer" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bstemp" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
  <%= javascript_pack_tag 'application' %>
  <!--<%#= stylesheet_pack_tag 'application' %>-->
</head>
<body style="background-color: #F1F3F3;">
<%= render 'layouts/navigation' %>
<%= content_for?(:header) ? yield(:header) : "" %>

<div role="main" class="" style="min-height: calc(100vh - 70px);">
  <div class="container">
    <%= render 'layouts/messages' %>
  </div>
  <%= yield %>
</div>
<footer class=" footer mt-5
">
  <div class="container">
    <div class="text-center">
      <p>
        <strong>Kitboxer</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
<input name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>"/>
</body>
</html>
