<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/coming_soon.scss"/>
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/coming_soon.scss"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Kitboxer" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Kitboxer" %>">
  <meta name="turbolinks-cache-control" content="no-cache">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body data-environment="<%= Rails.env %>">
<div class="coming-soon-page">
  <div class="table-center">
    <div class=" col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <%= image_tag 'logos/kitboxer_logo.png', width: 170 %>
          <h1 class="display-2">Kitboxer</h1>
          <h2 class="display-5">Coming soon.</h2>
          <br>

          <div class="col-lg-7 mx-auto">
            <div class="input-group">
              <input type="text" class="coming-soon-form-control form-control" placeholder="Email" aria-label="Search for...">
              <span class="input-group-btn ">
            <button class="btn btn-outline-primary coming-soon-btn" type="button">Subscribe</button>
          </span>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>
