<div class="container">
  <div class="row">
    <aside class="col-sm-3">
      <h5><strong>My Messages</strong></h5>
      <div class="conversationList">
        <% @conversations.each do |conversation| %>
          <%= link_to conversation_path(conversation) do %>
            <div class="conversationList__item <%= current_class?(conversation_path(conversation), 'conversationList__item--active') %>">
              <strong><%= conversation.subject %></strong>
              <% unless conversation.messages.first.notified_object_id.nil? %>
                <p>RE: <%= conversation.messages.first.notified_object.product.title %></p>
              <% end %>
              <p><%= truncate(conversation.messages.last.body, length: 100) %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </aside>

    <iv class="col-sm-9">
      <h5>&nbsp;</h5>
      <div class="conversation">
        <%= yield %>
      </div>

  </div>
</div>
<%= parent_layout("application") %>
</div>
